<mat-card class="habit-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ habit.name | titlecase }}</mat-card-title>
    <mat-card-subtitle>{{ habit.category | titlecase }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="habit-info">
      <p><strong>Tipo:</strong> {{ habit.goalType | titlecase }}</p>

      <p>
        <strong>Estado:</strong>
        <span
          [ngClass]="{
            'status-inprogress': habit.status === 'In Progress',
            'status-completed': habit.status === 'Completed',
            'status-paused': habit.status === 'Paused'
          }"
        >
          {{ habit.status }}
        </span>
      </p>

      <p *ngIf="habit.notes">
        <strong>Notas:</strong> {{ habit.notes }}
      </p>

      <p *ngIf="habit.progress?.length">
        <strong>Último progreso:</strong>
        {{ habit.progress[habit.progress.length - 1].date }} -
        {{ habit.progress[habit.progress.length - 1].status }}
      </p>
    </div>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions align="end" class="actions">
    <button mat-flat-button color="accent" (click)="viewDetails()">
      Detalles
    </button>
  </mat-card-actions>
</mat-card>






